<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/style_admin.css}" href="../../static/css/style_admin.css"/>
    <link rel="stylesheet" th:href="@{http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css}" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js}" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js}" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script type="text/javascript" th:src="@{js/app/niceApp.js}" src="../static/js/app/niceApp.js"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/shared/directive/nice-files.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/shared/service/files-uploader-service.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/shopinfo/shopinfo.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/shopinfo/shopinfo.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/article/article.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/article/article-list.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/article/article-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/article/article-edit.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/manufacturer/manufacturer.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/manufacturer/manufacturer-list.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/manufacturer/manufacturer-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/manufacturer/manufacturer-edit.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/carrier/carrier.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/carrier/carrier-list.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/carrier/carrier-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/carrier/carrier-edit.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/product_category/product-category.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product_category/product-category-list.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product_category/product-category-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product_category/product-category-edit.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/product/product.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product/product-list.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product/product-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product/product-edit.controller.js}"></script>

    <script type="text/javascript" th:src="@{js/app/components/admin/product_proposal/product-proposal.module.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product_proposal/product-proposal-create.controller.js}"></script>
    <script type="text/javascript" th:src="@{js/app/components/admin/product_proposal/product-proposal-edit.controller.js}"></script>

</head>
<body ng-app="niceApp">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" href="/home">NiceRestCms</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/admin}" href="/admin">Admin</a></li>
            <li class="dropdown"><a role="button" class="dropdown-toggle" data-toggle="dropdown">Общие<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!a_shopinfo">Общая информация</a></li>
                    <li><a href="#!a_article_list">Статьи</a></li>
                    <li><a href="#!a_carrier_list">Перевозчики</a></li>
                </ul>
            </li>
            <li class="dropdown"><a role="button" class="dropdown-toggle" data-toggle="dropdown">Каталог<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!a_product_category_list">Категории продуктов</a></li>
                    <li><a href="#!a_product_list">Продукты</a></li>
                    <li><a href="#!a_manufacturer_list">Производители</a></li>
                </ul>
            </li>
            <li><a href="#!second">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-default btn-sm" style="margin: 10px">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div ng-view="" style="margin-top: 50px"></div>

<!-- Modal Loading -->
<div id="loadingPage" class="modal fade" role="dialog" style="position: relative;">
    <div class="modal-dialog">
        <div style="text-align: -webkit-center;">
            <div class="loader"></div>
        </div>
    </div>
</div>

<script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js}" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js"></script>
</body>
</html>