<div class="container" ng-controller="OrderListCtrl" ng-init="init()">

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h1>Заказы</h1>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <form action="#!a_order_create">
                <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20%">
                    Добавить заказ&nbsp;<span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>
    </div>
    <p>Список всех заказов:</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Заказчик</th>
            <th>Перевозчик</th>
            <th>Статус</th>
            <th>Ред.</th>
            <th>Удал.</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orderList">
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{$index+1}}</td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{{formatDate(order.date)}}</td>
            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{order.customer.custName}}</td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{order.carrierName.ru}}</td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{setStatus(order.status)}}</td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <a ng-href="#!a_order_edit/{{order.id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm"
                            ng-click="selectToRemove(order)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div id="confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вы уверены?</h4>
                </div>
                <div class="modal-body">
                    <p>Выбранный заказ будет удален.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"
                            ng-click="removeOrder()">
                        Удалить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Отменить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>